{erl_opts, [ debug_info
           , deterministic
           , warnings_as_errors
           ]}.

{deps, [
       ]}.

{shell, [ {apps, [microbenchmarking]}
        ]}.

{escript_emu_args, "%%! +sbt db"}.

{plugins, [ pc
          ]}.

{port_specs, [ {"priv/mb_yield.so", ["${REBAR_ROOT_DIR}/c_src/mb_yield.c"]}
             ]}.

{artifacts, [ "priv/mb_yield.so"
            ]}.

{provider_hooks, [ {post, [ {compile, {pc, compile}}
                          , {clean, {pc, clean}}
                          ]}
                 ]}.
